@model BenavidesFarm.DataModels.Models.Pages.ProductPage
@{
    ViewBag.Title = "Editar Página Promoción de Productos";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Page = "FosePageEdit";
    var idProductPge = Model.ProductPageId;
    var idPromocionPage = Model.PromocionPageId;
    var idFosePage = ViewBag.Fose;
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered" id="form_wizard_1">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-layers font-red"></i>
                    <span class="caption-subject font-red bold uppercase">
                        Editar Página de Promoción de Producto -
                        <span class="step-title"> Paso 1 de 3 </span>
                    </span>
                </div>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal" id="submit_form" method="POST" action="" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    <div class="form-wizard">
                        <div class="form-body">
                            <ul class="nav nav-pills nav-justified steps">
                                <li>
                                    <a href="#tab1" data-toggle="tab" class="step">
                                        <span class="number"> 1 </span>
                                        <span class="desc">
                                            <i class="fa fa-check"></i> Imagen del Producto
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab2" data-toggle="tab" class="step">
                                        <span class="number"> 2 </span>
                                        <span class="desc">
                                            <i class="fa fa-check"></i> Descripción del Producto
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab3" data-toggle="tab" class="step">
                                        <span class="number"> 3 </span>
                                        <span class="desc">
                                            <i class="fa fa-check"></i> Características del Producto
                                        </span>
                                    </a>
                                </li>
                            </ul>
                            <div id="bar" class="progress progress-striped" role="progressbar">
                                <div class="progress-bar progress-bar-success"> </div>
                            </div>
                            <div class="tab-content">
                                <div class="alert alert-danger display-none">
                                    <button class="close" data-dismiss="alert"></button> Se tienen varios errores. Por favor, revise nuevamente.
                                </div>
                                <div class="alert alert-success display-none">
                                    <button class="close" data-dismiss="alert"></button> La validaión del formulario es correcta.
                                </div>
                                <div class="tab-pane active" id="tab1">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="portlet light portlet-fit bordered">
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="icon-layers font-green"></i>
                                                        <span class="caption-subject font-green bold uppercase">Imagen del Producto</span>
                                                    </div>
                                                </div>
                                                <div class="portlet-body">
                                                    <div class="row  margin-top-10">
                                                        <div class="form-group col-md-6">
                                                            <label class="control-label col-md-4">Color de fondo</label>
                                                            <div class="col-md-8">
                                                                @{
                                                                    if (!string.IsNullOrEmpty(Model.ProductPageBgColor))
                                                                    {
                                                                        <input type="text" id="BgColorProductPage" name="BgColorProductPage" class="form-control demo" data-control="wheel" value="@Html.Raw(Model.ProductPageBgColor)" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <input type="text" id="BgColorProductPage" name="BgColorProductPage" class="form-control demo" data-control="wheel" value="" />
                                                                    }
                                                                } 
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <label class="control-label col-md-4">Imagen del Producto</label>
                                                            <div class="col-md-8">
                                                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                                                    <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 300px; height: 300px;">                                                                        
                                                                        @{
                                                                            if (Model.Product != null && !string.IsNullOrEmpty(Model.Product.ProductImage))
                                                                            {
                                                                                <img src="@Url.Content(Model.Product.ProductImage)" id="ImageProductPageSrc"/>
                                                                            }
                                                                        } 
                                                                    </div>
                                                                    
                                                                    <div>
                                                                        <span class="btn red btn-outline btn-file">
                                                                            <span class="fileinput-new"> Seleccionar Imagen </span>
                                                                            <span class="fileinput-exists"> Cambiar </span>
                                                                            <input type="file" name="ImageProductPage" id="ImageProductPage">
                                                                        </span>
                                                                        <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Eliminar </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab2">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="portlet light portlet-fit bordered">
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="icon-layers font-green"></i>
                                                        <span class="caption-subject font-green bold uppercase">Descripción del Producto</span>
                                                    </div>
                                                </div>
                                                <div class="portlet-body">
                                                    <div class="row">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-2">Título del Producto</label>
                                                            <div class="col-md-4">
                                                                @{
                                                                    if (!string.IsNullOrEmpty(Model.ProductPageTextTitle))
                                                                    {
                                                                        <textarea type="text" id="TextTitleProductPage" name="TextTitleProductPage" class="form-control" rows="5">@Model.ProductPageTextTitle</textarea>
                                                                    }
                                                                    else
                                                                    {
                                                                        <textarea type="text" id="TextTitleProductPage" name="TextTitleProductPage" class="form-control" rows="5"></textarea>
                                                                    }
                                                                }                                                                  
                                                            </div>
                                                            <label class="control-label col-md-2">Color Título del Producto</label>
                                                            <div class="col-md-3">
                                                                @{
                                                                    if (!string.IsNullOrEmpty(Model.ProductPageColorTextTitle))
                                                                    {
                                                                        <input type="text" id="ColorTextTitleProductPage" name="ColorTextTitleProductPage" class="form-control demo" data-control="wheel" value="@Html.Raw(Model.ProductPageColorTextTitle)" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <input type="text" id="ColorTextTitleProductPage" name="ColorTextTitleProductPage" class="form-control demo" data-control="wheel" value="@Html.Raw(Model.ProductPageColorTextTitle)" />
                                                                    }
                                                                }                                                                   
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-2">Descripción 1 del Producto</label>
                                                            <div class="col-md-4">
                                                                @{
                                                                    if (!string.IsNullOrEmpty(Model.ProductPageTextDescription1))
                                                                    {
                                                                        <textarea type="text" id="TextDescription1ProductPage" name="TextDescription1ProductPage" class="form-control" rows="5">@Model.ProductPageTextDescription1</textarea>
                                                                    }
                                                                    else
                                                                    {
                                                                        <textarea type="text" id="TextDescription1ProductPage" name="TextDescription1ProductPage" class="form-control" rows="5"></textarea>
                                                                    }
                                                                }
                                                            </div>
                                                            <label class="control-label col-md-2">Color Descripción 1 del Producto</label>
                                                            <div class="col-md-3">
                                                                @{
                                                                    if (!string.IsNullOrEmpty(Model.ProductPageColorTextDescription1))
                                                                    {
                                                                        <input type="text" id="ColorTextDescription1ProductPage" name="ColorTextDescription1ProductPage" class="form-control demo" data-control="wheel" value="@Html.Raw(Model.ProductPageColorTextDescription1)" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <input type="text" id="ColorTextDescription1ProductPage" name="ColorTextDescription1ProductPage" class="form-control demo" data-control="wheel" value="" />
                                                                    }
                                                                }     
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-2">Descripción 2 del Producto</label>
                                                            <div class="col-md-4">
                                                                @{
                                                                    if (!string.IsNullOrEmpty(Model.ProductPageTextDescription2))
                                                                    {
                                                                        <textarea type="text" id="TextDescription2ProductPage" name="TextDescription2ProductPage" class="form-control" rows="5">@Model.ProductPageTextDescription2</textarea>
                                                                    }
                                                                    else
                                                                    {
                                                                        <textarea type="text" id="TextDescription2ProductPage" name="TextDescription2ProductPage" class="form-control" rows="5"></textarea>
                                                                    }
                                                                }                                                                
                                                            </div>
                                                            <label class="control-label col-md-2">Color Descripción 2 del Producto</label>
                                                            <div class="col-md-3">
                                                                @{
                                                                    if (!string.IsNullOrEmpty(Model.ProductPageColorTextDescription2))
                                                                    {
                                                                        <input type="text" id="ColorTextDescription2ProductPage" name="ColorTextDescription2ProductPage" class="form-control demo" data-control="wheel" value="@Html.Raw(Model.ProductPageColorTextDescription2)" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <input type="text" id="ColorTextDescription2ProductPage" name="ColorTextDescription2ProductPage" class="form-control demo" data-control="wheel" value="" />
                                                                    }
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab3">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="portlet light portlet-fit bordered">
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="icon-layers font-green"></i>
                                                        <span class="caption-subject font-green bold uppercase">Características del Producto</span>
                                                    </div>
                                                </div>
                                                <div class="portlet-body">
                                                    <div class="row">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-2">Características 1 del Producto</label>
                                                            <div class="col-md-4">
                                                                @{
                                                                    if (!string.IsNullOrEmpty(Model.ProductPageTextCharacteristic1))
                                                                    {
                                                                        <textarea type="text" id="TextCharacteristic1ProductPage" name="TextCharacteristic1ProductPage" class="form-control" rows="5">@Model.ProductPageTextCharacteristic1</textarea>
                                                                    }
                                                                    else
                                                                    {
                                                                        <textarea type="text" id="TextCharacteristic1ProductPage" name="TextCharacteristic1ProductPage" class="form-control" rows="5"></textarea>
                                                                    }
                                                                }   
                                                                
                                                            </div>
                                                            <label class="control-label col-md-2">Color Característica 1 del Producto</label>
                                                            <div class="col-md-3">
                                                                @{
                                                                    if (!string.IsNullOrEmpty(Model.ProductPageColorTextCharacteristic1))
                                                                    {
                                                                        <input type="text" id="ColorTextCharacteristic1ProductPage" name="ColorTextCharacteristic1ProductPage" class="form-control demo" data-control="wheel" value="@Html.Raw(Model.ProductPageColorTextCharacteristic1)" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <input type="text" id="ColorTextCharacteristic1ProductPage" name="ColorTextCharacteristic1ProductPage" class="form-control demo" data-control="wheel" value="" />
                                                                    }
                                                                }
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-2">Característica 2 del Producto</label>
                                                            <div class="col-md-4">
                                                                @{
                                                                    if (!string.IsNullOrEmpty(Model.ProductPageTextCharacteristic2))
                                                                    {
                                                                        <textarea type="text" id="TextCharacteristic2ProductPage" name="TextCharacteristic2ProductPage" class="form-control" rows="5">@Model.ProductPageTextCharacteristic2</textarea>
                                                                    }
                                                                    else
                                                                    {
                                                                        <textarea type="text" id="TextCharacteristic2ProductPage" name="TextCharacteristic2ProductPage" class="form-control" rows="5"></textarea>
                                                                    }
                                                                }   
                                                                
                                                            </div>
                                                            <label class="control-label col-md-2">Color Característica 2 del Producto</label>
                                                            <div class="col-md-3">
                                                                @{
                                                                    if (!string.IsNullOrEmpty(Model.ProductPageColorTextCharacteristic2))
                                                                    {
                                                                        <input type="text" id="ColorTextCharacteristic2ProductPage" name="ColorTextCharacteristic2ProductPage" class="form-control demo" data-control="wheel" value="@Html.Raw(Model.ProductPageColorTextCharacteristic2)" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <input type="text" id="ColorTextCharacteristic2ProductPage" name="ColorTextCharacteristic2ProductPage" class="form-control demo" data-control="wheel" value="" />
                                                                    }
                                                                }                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">

                                    <span class="hidden" id="idProd" idProd="@idProductPge"></span>
                                    <span class="hidden" id="idPromo" idPromo="@idPromocionPage"></span>
                                    <span class="hidden" id="idFose" idFose="@idFosePage"></span>
                                    <a href="javascript:;" class="btn default button-previous">
                                        <i class="fa fa-angle-left"></i> Atrás
                                    </a>
                                    <a href="javascript:;" class="btn btn-outline green button-next">
                                        Continuar
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                    <a class="btn green button-submit" id="btnApplyProductPage">
                                        Aplicar
                                        <i class="fa fa-check"></i>
                                    </a>
                                    <a class="btn blue" id="btnPreviewProductPage">
                                        Vista Previa
                                        <i class="fa fa-search"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

