@model BenavidesFarm.DataModels.Models.Pages.BranchPage

@{
    ViewBag.Title = "Vista Previa Página de Sucursales";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPreview.cshtml";
}

<div id="main-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-id" data-slide-to="0" class="active"></li>
    </ol>
    <div class="carousel-inner">
        @{
            <div class="item active">
                <img src="@Url.Content(Model.HeadImages[0].ImageSectionImage)">
                <div class="container">
                        @{
                            var color1 = "#000000";
                            if (!string.IsNullOrEmpty(Model.HeadImages[0].ImageSectionColorText))
                            {
                                color1 = Model.HeadImages[0].ImageSectionColorText;
                            }
                        }
                        <div class="carousel-caption">
                            <h1 style="color: @Html.Raw(color1)">@Model.HeadImages[0].ImageSectionText</h1>
                        </div>
                    </div>
                </div>
                        for (int i = 1; i < Model.HeadImages.Count; i++)
                        {
                            var color = "#000000";
                            if (!string.IsNullOrEmpty(Model.HeadImages[i].ImageSectionColorText))
                            {
                                color = Model.HeadImages[i].ImageSectionColorText;
                            }
                            <div class="item">
                                <img src="@Url.Content(Model.HeadImages[i].ImageSectionImage)">
                                <div class="container">
                                    <div class="carousel-caption">
                                        <h1 style="color: @Html.Raw(color)">@Model.HeadImages[i].ImageSectionText</h1>
                                    </div>
                                </div>
                            </div>
                        }
        }
    </div>
    @*<a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>*@
</div>

<div id="question_sucursales" class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="section-header bg-color-white text-left">
                <h1 style="color: @Html.Raw(Model.BranchPageColorMessage)"><b>@Model.BranchPageMessage</b></h1>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid margin-bottom-200 no-padding">
    <div class="row full-width">
        <div class="col-xs-12 col-sm-6 col-md-8 full-width margin-bottom-40">
            @*<div id="map_canvas" style="height: 550px;"></div>*@
            <img src="~/Content/rsc/imgs/gmap.png" alt="" class="img-responsive">
        </div>
        <div id="branch-offices" class="col-xs-12 col-sm-6 col-md-4 text-right" name="branch-offices">
            <div id="header-branch-offices" class="margin-bottom-20">
                <h3 class="no-margin"><span style="color: @Html.Raw(Model.BranchPageColorTextBranchNames)"><b>@Model.BranchPageBranchNames</b></span></h3>
            </div>

            @{
                if (Model.Branchs != null)
                {
                    var count = Model.Branchs.Count;

                    if (count > 0)
                    {
                        var name = string.Format("name-{0}", @Model.Branchs[0].BranchId);
                        var address = string.Format("address-{0}", @Model.Branchs[0].BranchId);

                        <div>
                            <div>
                                <a href="javascript:void(0)" id="@name" class="branch-offices-name active"><b>@Model.Branchs[0].BranchName</b></a>
                            </div>
                            <div id="@address" class="margin-bottom-10 branch-offices-address" latitude="@Model.Branchs[0].BranchLatitude" longitude="@Model.Branchs[0].BranchLongitude">@Model.Branchs[0].BranchAddress</div>
                        </div>

                        for (int i = 1; i < count; i++)
                        {
                            var name1 = string.Format("name-{0}", @Model.Branchs[i].BranchId);
                            var address1 = string.Format("address-{0}", @Model.Branchs[i].BranchId);
                            <div>
                                <div>
                                    <a href="javascript:void(0)" id="@name1" class="branch-offices-name"><b>@Model.Branchs[i].BranchName</b></a>
                                </div>
                                <div id="@address1" class="hidden margin-bottom-10 branch-offices-address" latitude="@Model.Branchs[i].BranchLatitude" longitude="@Model.Branchs[i].BranchLongitude">@Model.Branchs[i].BranchAddress</div>
                            </div>
                        }
                    }
                }
            }
        </div>
    </div>
</div>