@using BenFarms.MVC.Models
@model BenFarms.MVC.Models.RegisterViewModel

@{
    ViewBag.Title = "Detalles de usuario";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Page = "UserPageIndex";
}

<h2>Detalles de usuario</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Names)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Names)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CGenre)
        </dt>

        <dd>
           @Html.DisplayFor(model => model.GenreSex)
        </dd>        

        <dt>
            @Html.DisplayNameFor(model => model.CodePostal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodePostal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Atrás", "Index", null, htmlAttributes: new { @class = "btn default" })
</p>
