@model BenFarms.MVC.Models.ResetPasswordViewModel

<style>
    .modal#modal-change-password {
        text-align: center;
    }

        .modal#modal-change-password .modal-content {
            overflow: hidden;
        }

        .modal#modal-change-password .modal-content {
            border-radius: 0px;
        }

    #modal-change-password .modal-footer {
        text-align: center;
    }

    #changePassForm .modal-header {
        border-bottom: none;
        padding: 10px 10px;
    }
    #changePassForm legend {
        border: none;
        color: #2a3479;
        font-size: 2em;
    }
    #changePassForm .control-label {
        color: #2a3479;
        font-weight: 800;
    }
    #changePassForm input {
        background-color: #d4e5ee !important;
        border-radius: 0px;
        height: 25px;
    }

    #changePassForm .btn {
        background-color: #2a3479;
        border-radius: 0px;
    }
</style>
<div class="modal fade" id="modal-change-password">
    <div class="modal-dialog">
        <div class="modal-content bg-color-white">
            <form class="form-horizontal " role="form" id="changePassForm">
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <legend>Escribe tu nueva contraseña</legend>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.OldPassword, new { @class = "col-sm-5 control-label" })
                                <div class="col-sm-6">
                                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", id = "OldPassword", name = "OldPassword", minlength = "5", maxlength = "150", required = true })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "col-sm-5 control-label" })
                                <div class="col-sm-6  col-xs-12  col-xs-12">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "Password", name = "Password", required = true })
                                </div>
                            </div>
                            
                            <div class="form-group">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-sm-5 control-label" })
                                <div class="col-sm-6  col-xs-12">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", id = "ConfirmPassword", name = "ConfirmPassword", required = true })
                                </div>
                            </div>
                            <span id="mensajeChangePassword" class="color-red"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="footer-login">
                        <button type="submit" class="btn btn-primary" id="btnChangePassword">Enviar</button>
                    </div>
                </div>
                    
                   
            </form>
        </div>
    </div>
</div>

