@model BenavidesFarm.DataModels.Models.Pages.InvestorPage
@{
    ViewBag.Title = "Inversionistas";
    ViewBag.Page = "Investor";
    var colorHead = "color: " + Model.InvestorPageColorHeadText;
    var colorSubHead = "color: " + Model.InvestorPageColorSubText;
    var colorHeadBg = "background-color: " + Model.InvestorPageColorHeadBg;
}

<div class="banner" style="@Html.Raw(colorHeadBg)">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="banner-caption">
                    <br>
                    <span class="caption-lg" style="@Html.Raw(colorHead)">@Model.InvestorPageHeadText</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container margin-top-80 margin-bottom-80">
    <div class="row margin-bottom-40 ">
        <h2 class="titulo-contacto text-center" style="@Html.Raw(colorSubHead);">@Model.InvestorPageSubText</h2>
    </div>
    <div class="row margin-top-80">
        @{
            foreach (var x in Model.ReportTypes)
            {
                var idSelect = "idYearReport_" + x.ReportTypeId;
                var fileReport = "filesReport_" + x.ReportTypeId;
                var report = "report_" + x.ReportTypeId;
                var divRaya = "divRaya_" + x.ReportTypeId;
                var years = x.Years();

                <div id="@report">

                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-md-offset-2 col-xs-12 col-xs-offset-0 ">
                            <h3 class="titulo-invercionista" style="color: #48c7f3;">@x.ReportName</h3>
                        </div>

                        <div class="col-md-1 col-md-offset-1 col-xs-5 col-sm-offset-2 col-sm-3 col-xs-offset-1">
                            <span class="title-anno">Año</span>
                            <div>
                                <select id="@idSelect" onchange="javascript: getFilesNames(this);">
                                    @{
                                        IEnumerable<int> descendingOrder = years.OrderByDescending(i => i);
                                        foreach (var year in descendingOrder)
                                        {
                                            <option value="@year">@year</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12">
                            <h4>@x.ReportDescription</h4>
                        </div>
                    </div>

                    <br />
                    <div id="@fileReport">
                        @{
                            if (years.Count > 0)
                            {

                                IEnumerable<int> Descendiente = years.OrderByDescending(i => i);
                                //var files = x.Files(years[0]);
                                var files = x.Files(Descendiente.FirstOrDefault());
                                foreach (var file in files)
                                {
                                    var nameFile = @Url.Content(file.AddressFile);
                                    <div class="row">
                                        <div class="col-md-2 col-md-offset-4 col-sm-2 col-sm-offset-3" style="text-align: left; margin-top: 10px">
                                            <span style="color: #4169e1; font-size: 16px; font-weight: 800">@file.DescriptionFile</span>
                                        </div>
                                        <div style="text-align: left; margin-top: 10px">
                                            <a class="btn btn-success btn-descargar" target="_blank" href="@nameFile">Descargar</a>
                                        </div>
                                    </div>
                                }
                        }
                        }
                    </div>
                    <div class="row no-margin-right margin-bottom-20" id="@divRaya">
                        <div class="col-md-1 col-md-offset-5 col-sm-3 col-sm-offset-4 hidden-xs linea-roja  ">
                        </div>
                    </div>
                    @*<br />*@
                </div>
            }
        }
    </div>
</div>     
                

@*<div class="container margin-top-80 margin-bottom-80">
    <div class="row margin-bottom-40">
	<h2  class="titulo-contacto text-center" style="color: @Html.Raw(colorSubHead);">@Model.InvestorPageSubText</h2>
    </div>
    <div class="row margin-top-80">
        <div class="container-fluid">
            <div class="row" style="margin-top: 40px">
                <div class="container-fluid">
                    @{
                        foreach (var x in Model.ReportTypes)
                        {
                            var idSelect = "idYearReport_" + x.ReportTypeId;
                            var fileReport = "filesReport_" + x.ReportTypeId;
                            var report = "report_" + x.ReportTypeId;
                            var divRaya = "divRaya_" + x.ReportTypeId;
                            var years = x.Years();

                            <div id="@report">
                                <div class="row">
                                    <div class="col-md-2 col-md-offset-3 col-sm-2 col-sm-offset-3" style="text-align: left">
                                        <span style="color: #48c7f3; font-size: 18px; font-weight: 800">@x.ReportName</span>
                                    </div>
                                    <div class="col-md-1 col-md-offset-1 col-sm-1 col-sm-offset-1" style="text-align: left">
                                        <span style="color: black; font-size: 15px; font-weight: 800">Año</span>
                                        <div>
                                            <select id="@idSelect" onchange="getFilesNames(this)">
                                                @{
                                                    foreach (var year in years)
                                                    {
                                                        <option value="@year">@year</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-8 col-md-offset-3 col-sm-8 col-sm-offset-3">
                                        @x.ReportDescription
                                    </div>
                                </div>
                                <br />
                                <div id="@fileReport">
                                    @{
                                        if (years.Count > 0)
                                        {
                                            var files = x.Files(years[0]);
                                            foreach (var file in files)
                                            {
                                                var nameFile = @Url.Content(file.AddressFile);
                                                <div class="row">
                                                    <div class="col-md-2 col-md-offset-4 col-sm-2 col-sm-offset-3" style="text-align: left; margin-top: 10px">
                                                        <span style="color: #4169e1; font-size: 16px; font-weight: 800">@file.DescriptionFile</span>
                                                    </div>

                                                    <div style="text-align: left;margin-top: 10px">
                                                        <a class="btn btn-success " target="_blank" href="@nameFile"
                                                           style="border: 0; background-color: #2a3479; color: #48c7f3; font-size: 15px; font-weight: 800; padding: 2px; margin: 0">Descargar</a>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    }
                                </div>

                                <div class="row" id="@divRaya">
                                    <div class="col-md-1 col-md-offset-5 col-sm-1 col-sm-offset-5" style="height: 1px; background-color: red; margin-top: 40px">
                                    </div>
                                </div>
                                <br />
                            </div>
                        }
                    }
                    
                </div>
            </div>
        </div>        
    </div>
</div>*@
