@model IEnumerable<BenavidesFarm.DataModels.Models.Pages.OfferPage>

@{
    ViewBag.Title = "Listado de Páginas de Ofertas";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Page = "OfferPageIndex";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption font-dark">
            <i class="icon-settings font-dark"></i>
            <span class="caption-subject bold uppercase"> Listado Páginas de Ofertas </span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-toolbar">
            <div class="row">
                <div class="col-md-6">
                    <div class="btn-group">
                        <a href="~/Admin/OfferPage/Edit" class="btn sbold green"><i class="fa fa-plus"></i> Editar Página </a>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped table-bordered table-hover order-column" id="sample_1">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.OfferPageCustomValue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OfferType.OfferTypeName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OfferPageActive)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OfferPageCreatedDate)
                    </th>
                    <th>Vista Previa</th>
                    <th>Activar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.OfferPageCustomValue)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OfferType.OfferTypeName)
                        </td>
                        <td>
                            @{
                                if (item.OfferPageActive)
                                {
                                    <span class="label label-sm label-success"> Activa </span>
                                }
                                else
                                {
                                    <span class="label label-sm label-warning"> Desactivada </span>

                                }
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OfferPageCreatedDate)
                        </td>
                        <td>
                            @{ var mEdit = "~/Admin/OfferPage/Preview/" + item.OfferPageId;}
                            <a href="@Url.Content(mEdit)" target="_blank"><li class="glyphicon glyphicon-search " style="color: lawngreen"></li></a>
                        </td>
                        <td>
                            @{
                                var mAct = "~/Admin/OfferPage/SetState/" + item.OfferPageId;
                                if (!item.OfferPageActive)
                                {
                                    <a href="@Url.Content(mAct)"><li class="fa fa-check" style="color:goldenrod">Activar</li></a>
                                }
                            }
                        </td>
                    </tr>
                                }
            </tbody>
        </table>
    </div>
</div>