@model BenavidesFarm.DataModels.Models.Pages.Elements.Quote

@{
    ViewBag.Title = "Editar Cita";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Page = "QuoteActive";
}

<h2>Editar Cita</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.QuoteId)

    <div class="form-horizontal">
        <h4>Cita</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.QuoteText, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextAreaFor(model => model.QuoteText, new { @class = "form-control", required = true })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QuoteAuthor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextAreaFor(model => model.QuoteAuthor, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QuoteAuthorSign, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.QuoteAuthorSign, new { htmlAttributes = new { @class = "form-control", required = true } })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Imagen </label>
            <div class="col-md-4">
                <div class="fileinput fileinput-new" data-provides="fileinput">
                    <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 300px; height: 200px;">
                        <img src="@Url.Content(Model.QuoteAuthorPhoto)" id="imgImageQuote" />
                    </div>
                    <div>
                        <span class="btn red btn-outline btn-file">
                            <span class="fileinput-new"> Seleccionar Imagen </span>
                            <span class="fileinput-exists"> Cambiar </span>
                            <input type="file" name="QuoteAuthorPhoto" id="QuoteAuthorPhoto">
                        </span>
                        <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Eliminar </a>
                    </div>
                </div>
            </div>

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-6">
                <a id="btnUploadQuoteImage" class="btn blue">Aceptar</a>
                @Html.ActionLink("Cancelar", "Index", null, htmlAttributes: new { @class = "btn default" })
            </div>
        </div>
    </div>
}