@model IEnumerable<BenavidesFarm.DataModels.Models.Pages.Elements.Quote>

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Listado de Citas";
    ViewBag.Page = "QuoteActive";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption font-dark">
            <i class="icon-settings font-dark"></i>
            <span class="caption-subject bold uppercase"> Listado de Citas </span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-toolbar">
            <div class="row">
                <div class="col-md-6">
                    <div class="btn-group">
                        <a href="~/Admin/Quote/Create" class="btn sbold green"><i class="fa fa-plus"></i> Nueva Cita </a>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped table-bordered table-hover order-column" id="sample_1">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.QuoteText)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.QuoteAuthor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.QuoteAuthorSign)
                    </th>
                    
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.QuoteText)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.QuoteAuthor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.QuoteAuthorSign)
                        </td>

                        
                        <td>
                            @{ var mEdit = "~/Admin/Quote/Edit/" + item.QuoteId;}
                            <a href="@Url.Content(mEdit)"><li class="glyphicon glyphicon-pencil " style="color:lawngreen"></li></a>
                        </td>
                        <td>
                            @{ var mDel = "~/Admin/Quote/Delete/" + item.QuoteId;}
                            <a href="@Url.Content(mDel)"><li class="glyphicon glyphicon-trash " style="color:orangered"></li></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
