@model IEnumerable<BenavidesFarm.DataModels.Models.Pages.PrivacityPage>

@{
    ViewBag.Title = "Listado de Páginas de Privacidad";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Page = "PrivacityPageIndex";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption font-dark">
            <i class="icon-settings font-dark"></i>
            <span class="caption-subject bold uppercase"> Listado Páginas de Privacidad </span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-toolbar">
            <div class="row">
                <div class="col-md-6">
                    <div class="btn-group">
                        <a href="~/Admin/PrivacityPage/Edit" class="btn sbold green"><i class="fa fa-plus"></i> Editar Página </a>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped table-bordered table-hover order-column" id="sample_1">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.PrivacityPageCustomValue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PrivacityPageActive)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PrivacityPageCreatedDate)
                    </th>
                    <th>Vista Previa</th>
                    <th>Activar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrivacityPageCustomValue)
                        </td>
                        <td>
                            @{
                                if (item.PrivacityPageActive)
                                {
                                    <span class="label label-sm label-success"> Activa </span>
                                }
                                else
                                {
                                    <span class="label label-sm label-warning"> Desactivada </span>

                                }
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrivacityPageCreatedDate)
                        </td>
                        <td>
                            @{ var mEdit = "~/Admin/PrivacityPage/Preview/" + item.PrivacityPageId;}
                            <a href="@Url.Content(mEdit)" target="_blank"><li class="glyphicon glyphicon-search " style="color:lawngreen"></li></a>
                        </td>
                        <td>
                            @{
                                var mAct = "~/Admin/PrivacityPage/SetState/" + item.PrivacityPageId;
                                if (!item.PrivacityPageActive)
                                {
                                    <a href="@Url.Content(mAct)"><li class="fa fa-check" style="color:goldenrod">Activar</li></a>
                                }
                            }
                        </td>
                        <td>
                            @if (item.PrivacityPageActive == false)
                            {
                                var deleteLink = "~/Admin/PrivacityPage/ConfirmDeletion/" + item.PrivacityPageId;
                                <a href="@Url.Content(deleteLink)"><div class="glyphicon glyphicon-trash" style="color: goldenrod"> Eliminar</div></a>
                            }
                        </td>
                    </tr>
                                }
            </tbody>
        </table>
    </div>
</div>