@using System.Globalization
@model BenavidesFarm.DataModels.Models.Pages.HomePage
@{
    ViewBag.Title = "Inicio";
    ViewBag.Page = "Home";
    var color0 = @Html.Raw(Model.BlogSection.Products[0].ProductTitle.TitleTypeHoverColor);
}

@if (Request.Browser.IsMobileDevice)
{
    IHtmlString str = new HtmlString("<a href='tel:01 800 248 5555'><img src='http://www.benavides.com.mx/Content/rsc/icons/mobile.png' class='img-responsive'  /></a>");
    @Html.Raw(str);
}
else
{
}

@helper displaySingleQuadItem(BenavidesFarm.DataModels.Models.Pages.Sections.SingleQuadSectionItem sectionItem, int quadNumber)
{
    <style >
            /*.inner-img{
                margin-top: 10%;
                margin-bottom: 10%;
                 
            }

            .inner-img img{
               
                height: 60px;
            }*/
        .blue-box{
            height: 20em;
            padding-top: 4%;
            color:white;
            transition:all 0.3s
        }
        .blue-box:hover{
            color:#2a3479;
            transition:all 0.3s
        }
            
    </style>

    <style type="text/css">
        .modalbox .box {
            background-color: rgba(0,0,0,.0001) !important;
            opacity: 1;
            filter: alpha(opacity=100);
            margin: 0 auto;
            min-width: 210px;
            padding: 10px;
            width: 70%;
            margin-top: 70px;
            border: 0px solid Black;
        }

        .modalbox .title {
            border-bottom: 1px solid #ccc;
            font-family: verdana;
            font-size: 22px;
            letter-spacing: 0.2em;
            margin: 0;
            padding: 0 0 10px;
            text-transform: uppercase;
            color: #fff;
        }

        .modalbox .content {
            display: block;
            font-family: Verdana;
            font-size: 18px;
            line-height: 22px;
            padding: 10px 0 0;
            color: #fff;
        }

        .modalbox .close {
            color: #fff;
            display: block;
            float: right;
            font-family: Verdana;
            font-size: 22px;
            height: 25px;
            text-decoration: none;
        }


        .modalbox {
            text-align: center;
            display: none;
            position: fixed;
            z-index: 9999;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            color: #333333;
        }

            .modalbox:target {
                display: block;
                outline: none;
            }


        .link-modal {
            width: 90%;
            text-align: center;
            margin: 0 auto;
            padding-top: 400px;
            padding-left: 15px;
        }


            .link-modal a {
                border: 0px solid #fff;
                color: #fff;
                font-family: Verdana;
                font-size: 20px;
                letter-spacing: 0.3em;
                padding: 10px;
                text-decoration: none;
                text-transform: uppercase;
            }
    </style>




if (quadNumber != 4)
{
    var linkString = "";
    if (sectionItem.Link.Contains("mailto:"))
    {
        linkString = Url.Content(sectionItem.Link);
    }
    else
    {

        var link = sectionItem.Link.TrimStart('~').TrimStart('/');
        linkString = Url.Action("Index", link);
    }
        <a href="@linkString" id="@String.Concat("quadLinkNumber", quadNumber.ToString())">
            <div class="col-lg-3 col-md-3 col-xs-12 text-center blue-box" style="background-color: @sectionItem.BackgroundColor">
                <div class="inner-img">
                    <div style="height: 7em;">
                        <img src="@Url.Content(sectionItem.ImageFileName)" />
                    </div>
                
                    <h2>@sectionItem.Text</h2>
                </div>
            </div>
        </a>
    }
    else
    {
        <a data-toggle="modal" href="@Url.Action("Terreno", "Home")" data-target="#modal" id="@String.Concat("quadLinkNumber", quadNumber.ToString())">
            <div class="col-lg-3 col-md-3 col-xs-12 text-center blue-box" style="background-color: @sectionItem.BackgroundColor">
                <div class="inner-img">
                    <div style="height: 7em;">
                        <img src="@Url.Content(sectionItem.ImageFileName)" />
                    </div>

                    <h2>@sectionItem.Text</h2>
                </div>
            </div>
        </a>
    }

}

<div class="modal fade text-center" id="modal">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

<div class="modalbox" id="myModal">
    <div class="box">

        @*<a type="button" class="btn pull-left" data-dismiss="modal">Cancel</a>*@
        <a class="btn-lg pull-left" style="font-size:25px;" data-dismiss="modal" href="#">X</a>

        @*<a class="close" href="#">X</a>*@
        <div class="content">
            <img style="margin-left:40px;padding-left:110px;" src="~/Content/POPup2.png" />
        </div>
    </div>
</div>

<div id="main-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
    </ol>
    <div class="carousel-inner">
        @{
            <div class="item active">
                <a href="@Html.Raw(Model.HeadImages[0].Link)">
                    <img src="@Url.Content(Model.HeadImages[0].ImageSectionImage)">
                    <div class="container">
                        @{
                            var color1 = "#000000";

                            if (!string.IsNullOrEmpty(Model.HeadImages[0].ImageSectionColorText))
                            {
                                color1 = Model.HeadImages[0].ImageSectionColorText;
                            }
                        }
                        <div class="carousel-caption">
                            <h1 style="color: @Html.Raw(color1)">@Model.HeadImages[0].ImageSectionText</h1>
                        </div>
                    </div>
                </a>
            </div>

                            for (int i = 1; i < Model.HeadImages.Count; i++)
                            {
                                var color = "#000000";
                                if (!string.IsNullOrEmpty(Model.HeadImages[i].ImageSectionColorText))
                                {
                                    color = Model.HeadImages[i].ImageSectionColorText;
                                }

                                <div class="item">
                                    <a href="@Html.Raw(Model.HeadImages[i].Link)">
                                        <img src="@Url.Content(Model.HeadImages[i].ImageSectionImage)">
                                        <div class="container">
                                            <div class="carousel-caption">
                                                <h1 style="color: @Html.Raw(color)">@Model.HeadImages[i].ImageSectionText</h1>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                            }
        }
    </div>
    <a class="left carousel-control" href="#main-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#main-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>

@*<div class="section-header bg-color-white text-center">
    <h2 style="color: @Html.Raw(Model.OfferSection.OfferSectionColorTitle)">@Model.OfferSection.OfferSectionTitle</h2>
</div>
<section class="month-products">
    <div class="top bg-color-blue-marine">
        <div class="container-fluid full-width">
            <div class="row full-width">
                <div class="col-xs-12 col-sm-4 full-width">
                    <a class="animated-component text-center" href="@Url.Content(Model.OfferSection.Products[0].ProductURL)">
                        <h3>@Html.Raw(Model.OfferSection.Products[0].ToStringMix())</h3>
                        <img class="img-responsive" src="@Url.Content(Model.OfferSection.Products[0].ProductImage)" alt="">
                    </a>
                    <div class="bottom-line bg-color-blue hidden-xs"></div>
                </div>
                <div class="col-xs-12 col-sm-4 full-width bg-color-opacity">
                    <a class="animated-component text-center" href="@Url.Content(Model.OfferSection.Products[1].ProductURL)">
                        <h3>@Html.Raw(Model.OfferSection.Products[1].ToStringMix())</h3>
                        <img class="img-responsive" src="@Url.Content(Model.OfferSection.Products[1].ProductImage)" alt="">
                    </a>
                    <div class="bottom-line bg-color-blue hidden-xs"></div>
                </div>
                <div class="col-xs-12 col-sm-4 full-width">
                    <a class="animated-component text-center" href="@Url.Content(Model.OfferSection.Products[2].ProductURL)">
                        <h3>@Html.Raw(Model.OfferSection.Products[2].ToStringMix())</h3>
                        <img class="img-responsive" src="@Url.Content(Model.OfferSection.Products[2].ProductImage)" alt="">
                    </a>
                    <div class="bottom-line bg-color-blue"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom bg-color-red">
        <div class="container-fluid full-width">
            <div class="row full-width">
                <div class="col-xs-12 col-sm-6 full-width bg-color-opacity">
                    <a class="animated-component text-center" href="@Url.Content(Model.OfferSection.Products[3].ProductURL)">
                        <h3>@Html.Raw(Model.OfferSection.Products[3].ToStringMix())</h3>
                        <img class="img-responsive" src="@Url.Content(Model.OfferSection.Products[3].ProductImage)" alt="">
                    </a>
                    <div class="bottom-line bg-color-red-dark hidden-xs"></div>
                </div>
                <div class="col-xs-12 col-sm-6 full-width">
                    <a class="animated-component text-center" href="@Url.Content(Model.OfferSection.Products[4].ProductURL)">
                        <h3>@Html.Raw(Model.OfferSection.Products[4].ToStringMix())</h3>
                        <img class="img-responsive" src="@Url.Content(Model.OfferSection.Products[4].ProductImage)" alt="">
                    </a>
                    <div class="bottom-line bg-color-red-dark"></div>
                </div>
            </div>
        </div>
    </div>
</section>*@

<div class="section-header bg-color-white text-center">
    <a href="@Url.Action("Index", "Billing")" style="text-decoration:none">
        <h2 style="color: @Html.Raw(Model.CardSection.CardSectionColorTitle)">@Model.CardSection.CardSectionTitle</h2>
    </a>
</div>
<section class="bi-card text-right" style="background-color:#c8e9fb">
   
        @{
            var url = "#";
            if (!string.IsNullOrEmpty(Model.CardSection.CardSectionUrl))
            {
                url = Model.CardSection.CardSectionUrl;
            }
        }
    <a href="@Url.Action("Index", "Billing")">
        <img src="@Url.Content(Model.CardSection.CardSectionImage)" alt="" class="img-responsive hidden-xs" style="cursor:inherit">
        <img src="@Url.Content(Model.CardSection.CardSectionImageXS)" alt="" class="img-responsive visible-xs" style="cursor:inherit">
    </a>

</section>

@{
    var link = Model.DoctorsOfficeSection.Link.TrimStart('~').TrimStart('/');
    var linkString = Url.Action("Index", link);
}
<div class="section-header bg-color-white text-center">
    <a href="@linkString" style="text-decoration:none">
        <h2 style="color: @Html.Raw(Model.DoctorsOfficeSection.TitleColor)">@Model.DoctorsOfficeSection.Title</h2>
    </a>
</div>
<section class="makeup text-right">
    <a href="@linkString" style="display:block; cursor:pointer;background-color:@Model.DoctorsOfficeSection.BackgroundColor">
        <div class="container" style="cursor:inherit">
            <div class="row" style="cursor:inherit">
                <div class="col-xs-12 col-sm-6 text-left" style="cursor:inherit">
                    <div class="item text"  style="cursor:inherit">
                        <h1 style="color:@Html.Raw(Model.DoctorsOfficeSection.SectionMessageTextColor)">@Model.DoctorsOfficeSection.SectionMessageText</h1>    
                        <img src="@Url.Content(Model.DoctorsOfficeSection.LogoImageFileName)" style="cursor:inherit; padding-left:0">                    
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <img src="@Url.Content(Model.DoctorsOfficeSection.ImageFileName)" class="hidden-xs" style="padding:0;cursor:inherit">
                </div>
            </div>
        </div>
    </a>
</section>
@*<section class="makeup bg-color-black text-right">
    <a href="@Model.DoctorsOfficeSection.Link" style="display:block; cursor:pointer;background-color:@Model.DoctorsOfficeSection.BackgroundColor">
        <div class="container">
            <div class="row" style="background-color:@Model.DoctorsOfficeSection.BackgroundColor">

                <div class="col-xs-12 col-sm-6 text-left">
                    <h2 style="color:@Model.DoctorsOfficeSection.SectionMessageTextColor">@Model.DoctorsOfficeSection.SectionMessageText</h2>
                    <img src="@Url.Content(Model.DoctorsOfficeSection.LogoImageFileName)">
                </div>
                <div class="col-xs-12 col-sm-6">
                    <img src="@Url.Content(Model.DoctorsOfficeSection.ImageFileName)" class="hidden-xs" style="cursor:inherit">
                </div>

            </div>
        </div>
    </a>
</section>*@



<div class="section-header bg-color-white text-center">
    <a href="@Url.Action("Index", "Fose")" style="text-decoration:none">
        <h2 style="color: @Html.Raw(Model.FoseSection.FoseSectionColorTitle)">@Model.FoseSection.FoseSectionTitle</h2>
    </a>
</div>
<section class="makeup text-right" style="background-color:#f7f8f8">
    <a href="@Url.Action("Index", "Fose")" style="display:block; cursor:pointer">
        <div class="container" style="cursor:inherit">
            <div class="row" style="cursor:inherit">
                <div class="col-xs-12 col-sm-6 text-left" style="cursor:inherit">
                    <div class="item text" style="cursor:inherit">
                        <h3 style="color: @Html.Raw(Model.FoseSection.FoseSectionColorWord1)">@Model.FoseSection.FoseSectionWord1</h3>
                        <h2 style="color: @Html.Raw(Model.FoseSection.FoseSectionColorWord2)">@Model.FoseSection.FoseSectionWord2</h2>
                    </div>
                    <img src="@Url.Content(Model.FoseSection.FoseSectionImageLogo)" alt="" class="img-responsive makeup-logos hidden-xs">
                </div>
                <div class="col-xs-12 col-sm-6 text-right" style="cursor:inherit">
                    <div class="item text-right" style="cursor:inherit">
                        <img src="@Url.Content(Model.FoseSection.FoseSectionImage)" alt="" class="img-responsive">
                    </div>
                    <img src="@Url.Content(Model.FoseSection.FoseSectionImageLogo)" alt="" class="img-responsive makeup-logos visible-xs" style="cursor:inherit">
                </div>
            </div>
        </div>
        <div class="bottom-line" style="background-color:#e6e6e6"></div>
    </a>
</section>


<div class="container-fluid">
    <div class="row">
        @displaySingleQuadItem(Model.FourQuadSection.Quad1,1)
        @displaySingleQuadItem(Model.FourQuadSection.Quad2,2)
        @displaySingleQuadItem(Model.FourQuadSection.Quad3,3)
        @displaySingleQuadItem(Model.FourQuadSection.Quad4,4)
    </div>
</div>


<div class="section-header bg-color-white text-center">
    <h2 style="color: @Html.Raw(Model.BlogSection.BlogSectionColorTitle)">@Model.BlogSection.BlogSectionTitle</h2>
</div>
<section class="blog">
    <div class="top bg-color-white">
        <div class="container-fluid full-width">
            <div class="row full-width">
                <div class="col-xs-12 col-sm-3 full-width">
                    @{
                        TextInfo cultInfo = new CultureInfo("en-US", false).TextInfo;
                        var product = cultInfo.ToTitleCase(Model.BlogSection.Products[0].ProductTitle.TitleTypeMessage).Replace(" ","");
                        var blogLink = Url.Action("Blog", "Blog", new{ type = product});
                    }
                    <a href="@blogLink" class="item text-center" style="{color: @Html.Raw(Model.BlogSection.Products[0].ProductTitle.TitleTypeColor)}:hover {color: @Html.Raw(Model.BlogSection.Products[0].ProductTitle.TitleTypeHoverColor)}">
                        <img class="img-responsive" src="@Url.Content(Model.BlogSection.Products[0].ProductImage)" alt="">
                        <div class="bottom-line" style="background-color: @Html.Raw(Model.BlogSection.Products[0].ProductTitle.TitleTypeBgColor)">
                            <h3>@Model.BlogSection.Products[0].ProductTitle.TitleTypeMessage</h3>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-3 full-width">
                    @{
                        product = cultInfo.ToTitleCase(Model.BlogSection.Products[1].ProductTitle.TitleTypeMessage).Replace(" ", "");
                        blogLink = Url.Action("Blog", "Blog", new { type = product });
                    }
                    <a href="@blogLink" class="item text-center" style="{color: @Html.Raw(Model.BlogSection.Products[1].ProductTitle.TitleTypeColor)}:hover {color: @Html.Raw(Model.BlogSection.Products[1].ProductTitle.TitleTypeHoverColor)}">
                        <img class="img-responsive" src="@Url.Content(Model.BlogSection.Products[1].ProductImage)" alt="">
                        <div class="bottom-line" style="background-color: @Html.Raw(Model.BlogSection.Products[1].ProductTitle.TitleTypeBgColor)">
                            <h3>@Model.BlogSection.Products[1].ProductTitle.TitleTypeMessage</h3>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-3 full-width">
                    @{
                        product = cultInfo.ToTitleCase(Model.BlogSection.Products[2].ProductTitle.TitleTypeMessage).Replace(" ", "");
                        blogLink = Url.Action("Blog", "Blog", new { type = product });
                    }
                    <a href="@blogLink" class="item text-center" style="{color: @Html.Raw(Model.BlogSection.Products[2].ProductTitle.TitleTypeColor)}:hover {color: @Html.Raw(Model.BlogSection.Products[2].ProductTitle.TitleTypeHoverColor)}">
                        <img class="img-responsive" src="@Url.Content(Model.BlogSection.Products[2].ProductImage)" alt="">
                        <div class="bottom-line" style="background-color: @Html.Raw(Model.BlogSection.Products[2].ProductTitle.TitleTypeBgColor)">
                            <h3>@Model.BlogSection.Products[2].ProductTitle.TitleTypeMessage</h3>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-3 full-width">
                    @{
                        product = cultInfo.ToTitleCase(Model.BlogSection.Products[3].ProductTitle.TitleTypeMessage).Replace(" ", "");
                        blogLink = Url.Action("Blog", "Blog", new { type = product });
                    }
                    <a href="@blogLink" class="item text-center" style="{color: @Html.Raw(Model.BlogSection.Products[3].ProductTitle.TitleTypeColor)}:hover {color: @Html.Raw(Model.BlogSection.Products[3].ProductTitle.TitleTypeHoverColor)}">
                        <img class="img-responsive" src="@Url.Content(Model.BlogSection.Products[3].ProductImage)" alt="">
                        <div class="bottom-line" style="background-color: @Html.Raw(Model.BlogSection.Products[3].ProductTitle.TitleTypeBgColor)">
                            <h3>@Model.BlogSection.Products[3].ProductTitle.TitleTypeMessage</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{
<script type="text/javascript">
    
      function autocompleteData() {
            showPleaseWait();

            var base = getSiteRootUrl();
            var cardValue = $("#Card").val();
            $.ajax({
                url: base + '/Account/GetDataFromCard/' + cardValue,
                data: { card: cardValue },
                type: "GET",
                success: function (data) {
                    hidePleaseWait();
                    if (data.Success) {
                        $("#Names").val(data.Data.Nombre);
                        $("#LastName1").val(data.Data.ApPaterno);
                        $("#LastName2").val(data.Data.ApMaterno);
                        $("#Email").val(data.Data.Email);
                        $("#PhoneNumber").val(data.Data.Celular);
                        $("#BirthDate").val(data.Data.FechaNacimiento);
                        if (data.Data.Genero == 1) {
                            $("#generoM").attr("checked", true);
                            $("#generoF").attr("checked", false);
                        }
                        if (data.Data.Genero == 2) {
                            $("#generoF").attr("checked", true);
                            $("#generoM").attr("checked", false);

                        }
                        $("#imagenUsuario").attr("src", data.Data.Imagen);
                    } else {
                        hidePleaseWait();
                        bootbox.dialog({
                            message: data.Message,
                            title: "Error",
                            buttons: {
                                main: {
                                    label: "Aceptar",
                                    className: "red"
                                }
                            }
                        });
                    }

                },
                error: function (response) {
                    hidePleaseWait();
                    bootbox.dialog({
                        message: response.Message,
                        title: "Error",
                        buttons: {
                            main: {
                                label: "Aceptar",
                                className: "red"
                            }
                        }
                    });
                    //alert("error : " + response.Message);
                }
            });
        }
      </script>

@*<script type="text/javascript">
    $(window).on('load',function(){

        if (window.innerWidth > 500) {
            return $('#myModal').modal('show');
        }
    });
</script>*@
}

@*@section scripts{
    <script type="text/javascript">


        function showPleaseWait() {
            var modalLoading = '<div class="modal" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false role="dialog">\
        <div class="modal-dialog">\
            <div class="modal-content">\
                <div class="modal-header">\
                    <h4 class="modal-title">Por favor, espere...</h4>\
                </div>\
                <div class="modal-body">\
                    <div class="progress">\
                      <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"\
                      aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%; height: 40px">\
                      </div>\
                    </div>\
                </div>\
            </div>\
        </div>\
    </div>';
            $(document.body).append(modalLoading);
            $("#pleaseWaitDialog").modal("show");
        }

        /**
         * Hides "Please wait" overlay. See function showPleaseWait().
         */
        function hidePleaseWait() {
            $("#pleaseWaitDialog").modal("hide");
        }
        $(function() {


            $("#registerForm #Card").blur(function () {
                autocompleteData();
            });

            var targetQuad = $("#quadLinkNumber3");
            targetQuad.on("click", function(e) {
                e.preventDefault();
                var link = targetQuad.attr('href');
                window.open(link, '_blank');
                return false;
            });

            /*targetQuad = $("#quadLinkNumber4");
            targetQuad.on("click", function (e) {
                e.preventDefault();
                var link = targetQuad.attr('href');
                window.open(link, '_blank');
                return false;
            });*/

        });


}*@