@model IEnumerable<BenavidesFarm.DataModels.Models.Pages.Elements.Pillar>

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Listado de Pilares";
    ViewBag.Page = "PillarActive";
}

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption font-dark">
            <i class="icon-settings font-dark"></i>
            <span class="caption-subject bold uppercase"> Listado de Pilares </span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-toolbar">
            <div class="row">
                <div class="col-md-6">
                    <div class="btn-group">
                        <a href="~/Admin/Pillar/Create" class="btn sbold green"><i class="fa fa-plus"></i> Nuevo Pilar </a>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped table-bordered table-hover order-column" id="sample_1">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.PillarName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PillarDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PillarLink)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PillarActive)
                    </th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PillarName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PillarDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PillarLink)
                        </td>
                        
                        <td>
                            @{
                    if (item.PillarActive == true)
                    {
                        <span class="label label-sm label-success"> Activa </span>
                    }
                    else
                    {
                        <span class="label label-sm label-warning"> Desactivada </span>
                    }
                            }
                        </td>
                        <td>
                            @{ var mEdit = "~/Admin/Pillar/Edit/" + item.PillarId;}
                            <a href="@Url.Content(mEdit)"><li class="glyphicon glyphicon-pencil " style="color:lawngreen"></li></a>
                        </td>
                        <td>
                            @{ var mDel = "~/Admin/Pillar/Delete/" + item.PillarId;}
                            <a href="@Url.Content(mDel)"><li class="glyphicon glyphicon-trash " style="color:orangered"></li></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
